@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
html {
    scroll-behavior: smooth;
}
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
header{
    padding: 0;
    margin: 0;
    position: relative;
    
    
}



.navbar{
    
    position: fixed;
    top: 195px;
    width: 100%;
    background-color: #000000;
    padding: 1% 0%;
    /* display: flex;
    justify-content:space-between;
    align-items: center; */
    display: grid;
    grid-template-columns:auto ;
    grid-auto-rows: 7vh ;
    align-items: center;
    color:#cc950a;
    z-index: 1001;
    transition: 0.5s all ease-in;
    /* overflow: auto; */
}

.nav--up{
    
    transform:translateY(-200px);
    background: rgba(0, 0, 0, 0.596);
    transition: 0.7s transform 0.125s ;
    
}


.Resturant-title{
    grid-column: 2/3;
}
.Resturant-title a{
    color: #cc950a;
    text-decoration: none;
    z-index: 1000;
    font-family: Croissant one;

    font-size: 2rem;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
    white-space: nowrap;

}
.Resturant-title a:hover{
    color: #755400;
    
}
.nav-links{
    grid-column: 5/8;
    margin: 5%;

}
.nav-links ul {
    
    
    display: flex;
    align-items: center;

}
.nav-links li {
    list-style: none;
    
}
.nav-links li a {
    z-index: 1000;
    font-family: Quicksand;
    font-weight: lighter;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 20px;
    
    text-shadow: 2px 2px black ;
}
.nav-links li a:hover{
    padding-bottom: 30px; 
    color:#cc950a ;
    border-bottom: 3px solid #755400;
    transition: 0.2s all ease-in;
}
.book-btn{
    grid-column: 9/10;
}
.Booking{
    
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.116);
    border-radius: 30px;
    border: #cc950a solid 2px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: Poppins;
    font-weight: bold;
    white-space: nowrap;    

}
.Booking:hover{
    background: rgba(255, 255, 255, 0.24);
    cursor: pointer;
    transition: 0.2s all ease-in;
}
.Logo  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    transition: 0.5s all ease-in;
    height: 200px;
    margin: 0%;
    background-color:black;
    
}
.Logo .logo-description{
    margin-right: 20vw;
    color: aliceblue;
    white-space: nowrap;
    font-family: Satisfy;
    font-size: 2rem;
    text-transform:capitalize;
    
}
.Logo--hide{
    transform: translateY(-200px);
    transition: 5s transform 0s;
}

.main1{
    position: relative;
    display: flex;
    max-width: 100%;
    
}
.main-BK 
    {    
    background: url(./Resources/pexels-elevate-1267320.jpg);
    background-size: cover;
  
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    filter: blur(3px);
    -webkit-filter: blur(3px);
   

}
.bg-text{
    content: '';
    margin-left: 7%;
    color: white;
    position: absolute;
    top: 50vh;
    transition: 0.5s;
    transform-origin: left;
    transform: scale(1);
}
.bg-text h1{
    white-space: nowrap;
    padding-bottom: 10vh;
    font-family:sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px black ;
    font-weight: 700;
}
.bg-text h1 span{
    color: #cc950a;
    font-family: Croissant one;
    white-space: nowrap;
    word-spacing: 5px;


}
.bg-text h3 {
    font-family:sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px black ;
    word-spacing: 3px;


}
.bg-text h3 span{
    font-family: Cinzel;
    font-size:2rem;
    color: #fab506;
    letter-spacing: 3px;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;

}
.container{
    display: flex;
    margin-left:10% ;
    flex-direction:column;
    position: absolute;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;

}
.bg-text .Booking{
    margin-top: 5% ;
    border:2px solid #000000;
}
/*About US section  */
.About{
    position: relative;
    width: 100%;
    background: url(./Resources/pexels-igor-starkov-1237073.jpg);
    background-size: cover;
  
    background-position: center center;
    background-attachment: fixed;
    padding-bottom: 10vh;

}
.container2{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: minmax(10vh,auto) ;

}
.About-text{
   
    grid-column: 2/5;
    grid-row: 3/5;
    padding: 5% 2%;
    color: white;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5vh;

}
.About-text>h1{
    text-shadow: 2px 2px rgb(0, 0, 0) ;
    color: #cc950a;
    font-family:Quicksand ;
    font-size: 4rem;
    font-weight: bolder;

}
.About-text>h2{
    color: #ffffff;
    padding: 20px;
    background: rgba(0, 0, 0, 0.384);
    font-family:Quicksand ;
    font-size: 1.3rem;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
}
.About-text>ul{
    padding-left:5% ;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
    background: rgba(0, 0, 0, 0.384);
    color: #fab506;
    font-size: 1.4rem;
    font-family:Quicksand;
    font-weight: bolder;

    
}
.About-text>ul>li{
    list-style: none;
    padding-bottom: 5%;
}
.About-box{
    grid-column: 7/10;
    grid-row: 3/5;
    background: rgba(128, 128, 128, 0);
    border-right: 2px dotted #cc950a;
    padding-right: 10%;
    
}

.About-img{
    width: 100%;
    height: 100%;
    background: url(./Resources/pexels-yente-van-eynde-2403391.jpg);
    background-size: cover;
    background-position: center center;
    
    
    
    
}
.menu{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    max-width: 100%;
}

.menu-Bk{
    grid-column: 1/2;
    grid-row: 1/2;
    background: url(./Resources/menu-title-background.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 110vh;
    width: 100%;
    z-index: 899;



}
.menu-container{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 20vh 20vh 20vh 20vh ;
    grid-gap: 5vh;
    padding:7vh 0vh;
    z-index: 900;

}
.menu-title{
    grid-row: 1/2;
    grid-column: 2/6;
    background: #0000002a;
    border-left: #cc950a 5px solid;
    padding-left: 5vw;
    padding-top: 2vh;
}
.menu-title>h1{
    text-shadow: 2px 2px rgb(0, 0, 0) ;

    color: #cc950a;
    font-family: Cinzel;
    font-size: 2rem;
}
.menu-title>h2{
    text-shadow: 2px 2px rgb(0, 0, 0) ;

    color: white;
    font-family: Quicksand;
    font-size: 2rem;

}
.menu-sections{
    grid-row: 1/5;
    grid-column: 6/10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vh;
}
.menu-sections>div{
    color: #ffffff;
    font-family: Berkshire Swash;
    background-size:cover;
    background-position: center center;
    font-size: 1.7rem;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
    text-align: center;
    padding: 10% 10%;
    border-top: #cc950a 5px solid;
    border-right: #cc950a 2px solid;
    transition: 0.4s all 0.1s;
    

    

}
.menu-sections>div:hover{
    transform:  scale(1.1);
    
}
.menu-sections>div>a{
text-decoration: none;
color: #ffffff;
   
}
.menu-sections>div>a:hover{
    color:#cc950a;
}


.Bf-sec{
    background: url(./Resources/menu-BF.jpg);
    grid-column: 1/3;

}
.Starter-sec{
    background: url(./Resources/menu-starter.jpg);
}
.Salad-sec{
    background: url(./Resources/menu-Salad.jpg);

}
.Main-course-sec{
    background: url(./Resources/menu-MainCourse.jpg);
    grid-column: 1/3;

}
.Dessert-sec{
    background: url(./Resources/desserts.jpg);
    grid-column: 1/3;

}
.menu-img{
    grid-column: 2/6;
    grid-row: 2/5;
    background: url(./Resources/menu-img.jpg);
    background-size: cover;
    background-position: center center;
}


.Booking-table{
    position: relative;
    top: 10vh;
    background: #000000;
    margin-bottom: 6vh;
}
.resv-input{
    height: 7vh;
    vertical-align: text-top;
    background:#2e2101 ;
    border: 1px solid black;
    color: #fab506;
    padding-left: 10px;
}
.resv-input:active{
    border: 1px solid black;
    background: #412f01;
}

.Booking-container>form{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-row-gap: 2vh;
    grid-column-gap: 2vh;
    margin-top: 10vh;
}
#guest-name{
    grid-column: 2/3;
}
#guest-email{
    grid-column: 3/4;
}
#guest-phone{
 grid-column: 4/5;
}
#resv-date{
    grid-column: 2/3;
}
#resv-time{
    grid-column: 3/4;
}
#resv-count{
    grid-column: 4/5;

}
#resv-message{
    grid-column: 2/5;
    height: 10vh;
    
}
#resv-message textarea{ 
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;

}
#table-booked{
    width: 12vw;
    grid-column: 3/4;
    align-items: center;
}
.resv-title{
    padding-top: 5vh;
    padding-left: 5vh;
    padding-bottom:10vh ;
}
.resv-title>h2{
    color: #755400;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
    font-family: Cinzel;
    font-size: 2rem ;

}
.resv-title>h1{
    color:#fab506;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
    font-family: Cinzel;
    font-size: 2.5rem ;

}
.footer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 30vh;
    background-color:#2e21018b;
    margin-top: 10vh;
}
.footer-title{
    grid-column: 1/2;
    font-size: 1.5rem;
    color: #cc950a;
    font-family: Cinzel;
    font-weight: bold;
    margin-top: 4vh;
    margin-left: 2vw;
    white-space: nowrap;
}
.social-icons{
    grid-column: 2/3;
    background:none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4vh;
    padding-left: 11vw;
    
}
.fab{
    color: aliceblue;
    font-size: 3rem;
    transition: 0.4s all 0.01s ;
}
.fab:hover{
    color:#fab506;
    font-size: 2.7rem;
    border-bottom: 2px solid #fab506 ;
    padding-bottom: 4vh;
    
}
.contact-info{
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
    margin-top: 4vh;
    font-size: 1.4rem;
    color: #fab506 ;
    
}
.contact-info>p{
    padding-bottom: 3vh;
    border-left: 2px solid #fab506  ;
    padding-left: 3vw;
}
.contact-info>a{

    margin-top: 5vh;
    text-decoration: none;
    color: aliceblue;
    padding-bottom: 3vh;
    border-left: 2px solid #fab506  ;
    padding-left: 3vw;
}